<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>On Your Way</title>
</head>
<body>
  <%- include('partials/_navbar.ejs') %>
  <h1>On Your Way</h1>
  <p>Need a ride to campus? Share a car and save money. Connect with fellow students for easy, affordable commutes. Join the carpooling community today!
  </p>
  <a href="/auth/sign-up">Sign Up</a>
  <a href="/auth/sign-in">Sign In</a>
</body>
</html>